body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: url("background.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  div.navbar {
    ul {
      li {
        border-style: solid;
        color: green;
        list-style-type: none;
        display: inline;
        margin-right: 10px;
        padding: 10px 20px 10px 20px;
        font-size: 20px;
      }
    }
  }
  hr {
    margin-left: 40px;
    width: 900px;
    margin-top: 20px;
  }
  a {
    color: green;
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
}
