// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section {
  text-align: center;
  //margin-bottom: 20px;
  .sign-in {
    margin-top: 50px;
    form fieldset {
      border: none;
      li {
        display: block;
        margin-bottom: 20px;
        label {
          margin-right: 10px;
          font-size: 20px;
        }
        input {
          height: 30px;
          width: 300px;
          font-size: 20px;
        }
      }
    }
  }
}
