// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  section {
    div {
      color: #333;
      border-style: solid;
      border-radius: 40px;
      border-color: green;
      //width: 600px;
      //margin-left: 250px;
      margin-top: 50px;
   }
    h1.heading{
      font-size: 45px;
      padding-left: 30px;
    }
    h3 {
      padding-left: 30px;
    }
    div.contact {
      text-align: center;
      width: 600px;
      margin-left: 160px;
    }
    div.welcome {
      width: 900px;
      margin-left: 37px;
    }
  }
}
