// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  section {
    margin-top: 50px;
    width: 1000px;
    div.search {
      margin-left: 78px;
      form input {
        height: 20px;
        font-size: 15px;
        margin-bottom: 10px;
      }
    }
    div.pagination {
      margin-bottom: 20px;
      text-align: center;
      span {
        color: gray;
      }
      a {
        border-color: green;
        border-style: solid;
        border-width: 1px;
        padding: 3px 6px 3px 6px;
      }
      em.current {
        background-color: green;
        border-style: solid;
        border-color: green;
        border-width: 1px;
        padding: 3px 6px 3px 6px;
        color: white;
      }
    }
    h1 { text-align: center }
    table.product-summary {
      float: left;
      width: 380px;
      margin-left: 78px;
      margin-bottom: 20px;
      border-color: green;
      tbody {
        tr.product-info {
          text-align: center;
          height: 80px;
          td.coming-soon {
            width: 110px;
          }
        }
        tr.description {
          height: 70px;
          td {
           padding-left: 5px;
          }
        }
      }
      tbody tr td {
        p {
          height: 35px;
          padding-left: 5px;
        }
        b {
          padding-left: 5px;
        }
        img {
          padding-left: 5px;
          margin-top: 5px;
        }
      }
    }
    .full-product {
      height: 500px;
      width: 850px;
      margin-left: 40px;
      padding-left: 20px;
      h1 {
        font-size: 30px;
      }
      .info {
        float: left;
        div.overview {
          padding-top: 10px;
        }
      }
      .description {
        margin-left: 320px;
        width: 500px;
        table {
          border-color: green; 
          tbody tr {
            text-align: center;
            th {
              width: 200px;
            }
            td {
              width: 200px;
            }
          }
        }
      }
    }
    form.formtastic.product {
      fieldset {
        border-style: none;
        list-style-type: none;
        ol li {
          width: 200px;
          display: block;
          margin-bottom: 10px;i
          label {
            margin-bottom: 10px;
          }
        }
      }
    }
    div.index_products {
      margin-left: 50px;
      table {
        margin-top: 20px;
        border-color: green;
        tbody tr {
          text-align: center;
          td.parent {
            width: 200px;
            //text-align: center;
            //border: 1px solid green;
          }
          td.name {
            width: 150px;
          }
          td.price {
            width: 80px;
          }
        }
      }
    }
  }
}
